* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

.main_container {
    width: 100%;
    font-family: 'Tinos', serif;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}

.header_title {
    text-decoration: none;
    color: #012B55;
    font-size: 26px;
}

.fas {
    margin-right: 8px;
    font-size: 1.4rem;
}

.navbar {
    display: none;
}

.discribe {
    background-color: #F7F8F9;
    font-size: 14px;
    text-align: center;
    padding: 38px 45px 33px;
}

.discribe p {
    line-height: 140%;
}

.discribe p:first-child {
    color: #012B55;
}

.discribe p:last-child {
    font-size: 14px;
    color: #597188;
    margin-top: 20px;
}

.details {
    width: 100%;
    margin-top: 12px;
}

.image_parent {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.images {
    height: 100%;
    width: 100%;
}

.footer {
    padding: 25px;
    text-align: center;
}

.icons_list {
    display: flex;
    justify-content: center;
}

.icons_list li {
    list-style-type: none;
    background-color: rgba(1, 43, 85, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 8px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icons_list li:hover {
    background-color: rgba(1, 43, 85, 0.25);
}

.fab {
    color: #1E3050;
    font-size: 0.8rem;
}

.icons p {
    color: #597188;
    font-size: 14px;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.icons p a {
    text-decoration: none;
    cursor: pointer;
    color: #597188;
}

.arrow_up {
    display: none;
}

@media (min-width: 600px) {
    .container {
        display: flex;
        width: 92%;
        margin: 0 4%;
    }
    .header {
        padding: 50px 0 40px;
    }
    .main_text {
        width: 75%;
    }
    .sidebar {
        width: 20%;
        margin-right: 5%;
    }
    .hamburger_menu {
        display: none;
    }
    .navbar {
        display: flex;
        flex-direction: column;
    }
    .navbar_menu {
        text-decoration: none;
        color: rgba(65, 87, 109, 0.7);
        font-size: 16px;
        line-height: 140%;
        margin: 4px 0;
        font-weight: 200px;
    }
    .nav_work {
        text-decoration: none;
        color: #012B55;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 12px;
    }
    .nav_contact {
        text-decoration: none;
        color: #012B55;
        font-size: 18px;
        font-weight: bold;
        margin: 12px 0;
    }
    .nav_icons {
        margin-top: 16px;
    }
    .nav_icons_list {
        display: flex;
    }
    .nav_icons_list li {
        list-style-type: none;
        background-color: rgba(1, 43, 85, 0.1);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav_icons_list li:hover {
        background-color: rgba(1, 43, 85, 0.25);
    }
    .discribe {
        font-size: 28px;
        padding: 110px 65px 90px;
    }
    .discribe p:last-child {
        font-size: 18px;
    }
    .items {
        display: flex;
        flex-wrap: wrap;
    }
    .details {
        width: 49.5%;
        margin-top: 6px;
    }
    .images {
        height: 100%;
    }
    .left_image {
        margin-right: 1%;
    }
    .footer {
        padding: 60px 0;
    }
    .arrow_up {
        color: #1E3050;
        text-decoration: none;
        background-color: rgba(1, 43, 85, 0.1);
        position: fixed;
        width: 50px;
        height: 50px;
        right: 40px;
        bottom: 40px;
        border-radius: 4px;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 2s ease;
    }
    .fa-arrow-up {
        font-size: 20px;
    }
    .arrow_up:hover {
        background-color: rgba(1, 43, 85, 0.25);
    }
}

@media (min-width:900px) {
    .discribe {
        padding: 110px 120px 90px;
    }
    .discribe p:last-child {
        margin: 30px 0;
    }
}